{% extends "base.html" %}

{% block content %}

<div class="text-sm breadcrumbs mb-2">
  <ul>
      <li><a href="{{ url_for('index') }}">ホーム</a></li>
      <li>レシピブックマーク</li>
  </ul>
</div>

<div class="overflow-x-auto w-full">
  <table class="table w-full">
    <!-- head -->
    <thead>
      <tr>
        <th>レシピ名</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <!-- row 1 -->
      {% for bookmark in bookmarks %}
      <tr>
        <td>
          <div class="flex items-center space-x-3">
            <div class="avatar">
              <div class="mask mask-squircle w-12 h-12">
                <img src="{{ bookmark.food_image_url }}" />
              </div>
            </div>
            <div>
              <div class="font-bold">{{ bookmark.recipe_title }}</div>
            </div>
          </div>
        </td>
        <th>
          <a href="{{ bookmark.recipe_url }}" class="btn btn-ghost btn-xs">レシピ詳細</a>
        </th>
        <th>
          <a href="{{ bookmark.id }}/bookmark-release" class="btn btn-error btn-xs">ブックマーク解除</a>
        </th>
      </tr>
    </tbody>
    {% endfor %}
  </table>
</div>

{% endblock %}
