<!DOCTYPE html>
<html lang="ja" data-theme="cupcake">
  <head>
    <title>Home</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@2.51.0/dist/full.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="lg:w-9/12 lg:m-auto">
      <!-- 共通部分（ナビゲーションバー） ここから -->
      <div class="lg:w-9/12 navbar bg-base-100 fixed z-50">
        <div class="flex-none">
          <label
            for="my-drawer-2"
            class="
              swap-off
              fill-current
              btn btn-square btn-ghost
              drawer-button
              lg:hidden
              swap swap-rotate
            "
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              class="swap-off inline-block w-5 h-5 stroke-current"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h16M4 18h16"
              ></path>
            </svg>
          </label>
        </div>
        <div class="flex-1">
          <a href="/" class="btn btn-ghost normal-case text-xl"
            >Madam Kitchen</a
          >
        </div>
        <ul class="hidden sm:inline-flex menu menu-horizontal px-1">
          <li><a>材料からレシピ検索</a></li>
          <li><a>レシピから買い物リスト</a></li>
        </ul>

        <div class="flex-none">
          <button class="btn btn-square btn-ghost">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              class="inline-block w-5 h-5 stroke-current"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"
              ></path>
            </svg>
          </button>
        </div>
      </div>
      <!-- 共通部分（ナビゲーションバー） ここまで -->
      <div class="drawer drawer-mobile">
        <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
        <div class="drawer-content mt-16 p-5">
          <!-- Page content here -->
          <div class="text-sm breadcrumbs">
            <ul>
              <li><a href="/">ホーム</a></li>
              <li><a>材料からレシピ検索</a></li>
              <li>検索結果</li>
            </ul>
          </div>



          <div class="flex flex-wrap">
            {% for r in result %}
            <div class="card card-compact w-48 bg-base-100 shadow-xl m-2">
              <figure>
                <img
                  src="{{ r.food_image_url }}"
                  alt="Shoes"
                />
              </figure>
              <div class="card-body">
                <h2 class="card-title">{{ r.recipe_title }}</h2>
                <div class="card-actions justify-end">
                  <a class="btn btn-primary" href="/foodlist?id={{ r.id }}">材料リストへ</a>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>

          <div class="flex justify-center mt-4">
            <div class="btn-group">
              <a href="./food-search?q={{ recipeTitle }}&p=1" class="btn btn-active">1</a>
              <a href="./food-search?q={{ recipeTitle }}&p=2" class="btn">2</a>
              <a href="./food-search?q={{ recipeTitle }}&p=3" class="btn">3</a>
              <a href="./food-search?q={{ recipeTitle }}&p=4" class="btn">4</a>
              <p class="btn">…</p>
              <a href="./food-search?q={{ recipeTitle }}&p={{ pageAmount }}" class="btn">{{ pageAmount }}</a>
            </div>
          </div>
        </div>
        <!-- 共通部分（ナビゲーションバー） ここから -->
        <div class="drawer-side">
          <label for="my-drawer-2" class="drawer-overlay"></label>
          <ul class="pt-24 menu p-4 w-80 bg-base-100 text-base-content">
            <!-- Sidebar content here -->
            <li><a>材料からレシピ検索</a></li>
            <li><a>レシピから買い物リスト</a></li>
            <li><a>ブックマーク</a></li>
            <li><a>ログアウト</a></li>
          </ul>
        </div>
        <!-- 共通部分（ナビゲーションバー） ここまで -->
      </div>
    </div>
  </body>
</html>
