{% extends "base.html" %}

{% block content %}
  <div class="text-sm breadcrumbs">
    <ul>
        <li><a href="/">ホーム</a></li>
        <li><a>材料からレシピ検索</a></li>
        <li>検索結果</li>
    </ul>
  </div>

  <div class="flex flex-wrap">
    {% for recipe in recipes %}
    <div class="card card-compact w-48 bg-base-100 shadow-xl m-2">
      <figure>
        <img
          src="{{ recipe.food_image_url }}"
          alt="Shoes"
          style="height: 150px; width: 100%;"
        />
      </figure>
      <div class="card-body">
        <h2 class="card-title">{{ recipe.recipe_title }}</h2>
        <div class="card-actions justify-end">
          <button class="btn btn-primary"><a href="{{ recipe.recipe_url }}">買い物リストへ</a></button>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>


  <div class="flex justify-center mt-4">
    <div class="btn-group">
      <button class="btn btn-active">1</button>
      <button class="btn">2</button>
      <button class="btn">3</button>
      <button class="btn">4</button>
    </div>
  </div>
{% endblock %}