{% extends "base.html" %}

{% block content %}
<!-- Page content here -->

<div class="text-sm breadcrumbs mb-2">
  <ul>
      <li>ホーム</li>
  </ul>
</div>

<div class="flex w-full">
  <div
      class="
      grid
      h-32
      flex-grow
      card
      bg-primary
      rounded-box
      place-items-center
      "
  >
      <a href="{{ url_for('food_recipe') }}">材料からレシピ検索</a>
</div>
<div class="divider divider-horizontal">OR</div>
  <div
      class="
      grid
      h-32
      flex-grow
      card
      bg-secondary
      rounded-box
      place-items-center
      "
  >
      <a href="{{ url_for('recipe_food') }}">レシピから買い物リスト</a>
  </div>
</div>
<div class="divider"></div>
<div class="grid h-32 card bg-accent rounded-box place-items-center">
ブックマークを見る
</div>
{% endblock %}
