{% extends "base.html" %}

{% block content %}

<div class="hero-content flex-col">
  <div class="text-center">
    <h1 class="text-4xl font-bold">ログイン</h1>
  </div>
  <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
    <div class="card-body">
      <div class="form-control">
        <label class="label">
          <span class="label-text">ユーザーネーム</span>
        </label>
        <input type="text" placeholder="username" class="input input-bordered" />
      </div>
      <div class="form-control">
        <label class="label">
          <span class="label-text">パスワード</span>
        </label>
        <input type="text" placeholder="password" class="input input-bordered" />
        <!--
        <label class="label">
          <a href="#" class="label-text-alt link link-hover">パスワードを忘れた場合</a>
        </label>
        -->
      </div>
      <div class="form-control mt-6">
        <button class="btn">ログイン</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
