{% extends "base.html" %}

{% block content %}

  <form action="{{ url_for('recipe_search') }}" method="post">
    <div class="text-sm breadcrumbs">
      <ul>
        <li><a href="{{ url_for('index') }}">ホーム</a></li>
        <li><a href="{{ url_for('food_recipe') }}">材料からレシピ検索</a></li>
        <li>検索結果</li>
      </ul>
    </div>
    <div class="flex flex-wrap">
      {% for recipe in recipes %}
      <div class="card card-compact w-48 bg-base-100 shadow-xl m-2">
        <figure class="h-36">
          <img
            class="object-contain"
            src="{{ recipe.food_image_url }}"
          />
        </figure>
        <div class="card-body">
          <h2 class="card-title">{{ recipe.recipe_title }}</h2>
          <div class="card-actions justify-end">
            <button class="btn btn-primary"><a href="{{ recipe.recipe_url }}">詳細をみる</a></button>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="flex justify-center mt-4">
      <div class="btn-group">
        <button class="btn btn-active">1</button>
        {% for page in pages %}
        <button class="btn" type="submit" name="pagenation" value="{{ page }}">{{ page }}</button>
        {% endfor %}
        <button class="btn">{{ num }}</button>
      </div>
    </div>
  </form>

{% endblock %}
