{% extends "base.html" %}

{% block content %}
<!-- Page content here -->

<div class="text-sm breadcrumbs mb-2">
  <ul>
      <li><a href="/">ホーム</a></li>
      <li>レシピから買い物リスト</li>
  </ul>
</div>

<div class="flex justify-center">
  <form method="POST">
    <div class="form-control">
        <label class="label">
          <span class="label-text">作りたい料理名を入力</span>
        </label>
        <label class="input-group m-1">
          <input
              type="text"
              placeholder="料理名"
              class="input input-bordered"
              name="cooking"
          />
          <button class="btn btn-square" type="submit">
              <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              >
              <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
              />
              </svg>
          </button>
        </label>
    </div>
  </form>
</div>

{% endblock %}