{% extends "base.html" %}

{% block content %}

<div class="text-sm breadcrumbs mb-2">
  <ul>
      <li><a href="{{ url_for('index') }}">ホーム</a></li>
      <li>ユーザー登録</li>
  </ul>
</div>

<div class="hero-content flex-col">
  <div class="text-center">
    <h1 class="text-4xl font-bold">ユーザー登録</h1>
  </div>
  <form method="POST">
    <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
      <div class="card-body">
        <div class="form-control">
          <label class="label">
            <span class="label-text">ユーザーネーム</span>
          </label>
          <input type="text" placeholder="username" class="input input-bordered" name="username" />
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text">パスワード</span>
          </label>
          <input type="text" placeholder="password" class="input input-bordered" name="password" />
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text">パスワード（再入力）</span>
          </label>
          <input type="text" placeholder="password (retype)" class="input input-bordered" name="confirmation" />
        </div>
        <div class="form-control mt-6">
          <button class="btn">登録</button>
        </div>
      </div>
    </div>
  </form>
</div>

{% endblock %}
